/* Style global du navbar */
.navbar {
    background-color: #2c6e19; /* Couleur sombre pour le fond */
    padding: 15px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto', sans-serif; /* Police moderne */
  }
  
  /* Conteneur pour centrer et espacer les éléments */
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Logo de la navbar */
  .navbar-logo {
    color: #0f0f0f;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
  }
  .logo-image {
    width:100px;
    height: 100px;
    border-radius: 50%;
    width: auto;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px; 
    background-color: yellowgreen;
  }
  
  /* Liste des liens */
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    position: center;
  }

  
  /* Élément de chaque lien */
  .navbar-link {
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #f92f18;  /* Rouge (couleur associée à l'Italie) */
    border-radius: 5px;
    text-decoration: none;}  
    /* Grille responsive */
@media (max-width: 900px) {
    .navbar-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour écrans moyens */
    }
}